#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

#header a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: #000;
}


#header img {
    width: 300px;
    object-fit: cover;
}

#email-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#email-submit input {
    display: block
}

@media (max-width: 600px) {
    #header {
        /* flex: wrap; */
        flex-direction: column;
        align-items: center
    }

    img {
        width: 250px
    }

    a {
        display: block;
        text-align: center
    }
}